{% extends 'base.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Liste des messages</h1>

    <table class="datatable table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Expéditeur</th>
                <th>Destinataire</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.object }}</td>
                <td>{{ message.expeditor }}</td>
                <td>{{ message.student.firstName }}</td>
                <td>{{ message.content|slice(0, 50) ~ (message.content|length > 50 ? '...' : '') }}</td>
                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{{ path('app_message_show', {'id': message.id}) }}">Afficher</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.datatable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json'
                },
                columnDefs: [
                    { orderable: false, targets: [6] } // Désactive le tri pour la colonne Actions
                ]
            });
        });
    </script>
{% endblock %}