{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Détails de l'utilisateur</h1>

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Informations utilisateur</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Rôles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
            {{ include('user/_delete_form.html.twig', { 'class': 'd-inline' }) }}
        </div>
    </div>
</div>
{% endblock %}